.contacts {
  width: 300px;
  margin: 0 auto;
}

.contacts-list {
  padding: 0;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotter green;
}

.contact-name {
  font-size: 20px;
  font-weight: bold;
}

.contact-surname {
  font-size: 20px;
  font-weight: bold;
}
